@import "uikit/uikit.less";

@icon-font-path: "../../../../app/assets/uikit/fonts";
@global-image-path: '../less/uikit/images';

@global-font-path: "../less/uikit/fonts";


// Theme variables
// ========================================================================

//
// uk-container (content wrapper) widths
//

@utility-container-max-width:                   980px;
@utility-container-large-max-width:             1200px;

//
// Body & Block Backgrounds
//

@theme-body-background:                         @global-secondary-background;

//
// Header Offset for Fullscreen
//

// Offset for default navbar ((100px * 2) + (40px * 2)) = ((height * 2) + (border * 2))
@theme-header-offset:                           round((@theme-navbar-container-height * 2) + (@global-grid-gutter-large * 2));

// Offset for centered navbar ((130px * 2) + (40px * 2) + (15px * 2)) = ((height * 2) + (border * 2) + (padding * 2))
@theme-header-centered-offset:                  round((@theme-navbar-centered-container-height * 2) + (@global-grid-gutter-large * 2) + (@global-grid-gutter-small * 2));

// Offset for small navbar ((80px * 2) + (15px * 2)) = ((height * 2) + (border * 2))
@theme-header-offset-small:                     round((@theme-navbar-container-height-small * 2) + (@global-grid-gutter-small * 2));

//
// Navbar
//

@theme-navbar-gutter:                           @global-grid-gutter; // 25px
@theme-navbar-gutter-large:                     @global-grid-gutter-large; // 40px
@theme-navbar-gutter-small:                     @global-grid-gutter-small; // 15px

@theme-navbar-container-height:                 @navbar-nav-height; // 100px (navbar.less)
@theme-navbar-container-sticky-height:          (@theme-navbar-container-height + (@global-grid-gutter-large * 2)); // 100 + 2*40 = 180px
@theme-navbar-container-height-small:           80px; // navbar height for small view ports
@theme-navbar-container-sticky-height-small:    (@theme-navbar-container-height-small + (@global-grid-gutter-small * 2)); // 80 + 2*15 = 110px

@theme-navbar-centered-container-height:        130px; // height value for "tm-navbar-centered" modifier when layouts/header.centered.php is active
@theme-navbar-centered-container-sticky-height: (@theme-navbar-centered-container-height + (@global-grid-gutter-large * 2)); // 130 + 2*40 = 210px

@theme-navbar-nav-centered-height:              50px; // reducing the item heights when navbar is centered

@theme-navbar-centered-dropdown-navbar-margin:  0;

@theme-navbar-icon:                             "\e900";
@theme-navbar-icon-size:                        24px;
@theme-navbar-icon-color:                       @global-contrast-color;
@theme-navbar-icon-hover-color:                 fade(@theme-navbar-icon-color, 70%);
@theme-navbar-icon-click-color:                 @global-primary-color;
@theme-navbar-button-width:                     35px;
@theme-navbar-button-height:                    35px;
@theme-navbar-dropdown-background:              @navbar-background; // (navbar.less)
@theme-navbar-dropdown-width:                   200px;

//
// Footer
//

@theme-footer-fixed-height:                     450px;
@theme-footer-height:                           60px;
@theme-footer-padding-vertical:                 45px;
@theme-footer-padding-large-vertical:           95px;

@theme-footer-totop-size:                       40px;
@theme-footer-totop-color:                      fade(@global-secondary-color, 60%);
@theme-footer-totop-hover-color:                @global-secondary-highlight-color;
@theme-footer-totop-active-color:               @global-primary-color;

//
// Avanti Grid
//

@theme-badge-muted-background:                  @global-light-background;
@theme-badge-muted-color:                       @global-highlight-color;
@theme-grid-divider-border:                     @grid-divider-border;

//
// Gallery modifier 'tm-gallery-avanti'
//

@theme-overlay-background:                      @global-light-background;
@theme-overlay-gradient-direction-webkit:       bottom;
@theme-overlay-gradient-direction:              to-top;
@theme-overlay-gradient-top:                    fade(@theme-overlay-background, 100%);
@theme-overlay-gradient-bottom:                 fade(@theme-overlay-background, 40%);

@theme-overlay-primary-background:              @global-primary-background;
@theme-overlay-primary-gradient-top:            fade(@theme-overlay-primary-background, 100%);
@theme-overlay-primary-gradient-bottom:         fade(@theme-overlay-primary-background, 40%);
@theme-overlay-primary-color:                   @global-contrast-color;

@theme-overlay-secondary-background:            @global-secondary-background;
@theme-overlay-secondary-gradient-top:          fade(@theme-overlay-secondary-background, 40%);
@theme-overlay-secondary-gradient-bottom:       fade(@theme-overlay-secondary-background, 100%);
@theme-overlay-secondary-color:                 @global-contrast-color;


/* ========================================================================
   Theme
 ========================================================================== */

[v-cloak] { display: none; }

// Force vertical scrollbar
html { overflow-y: scroll; }

//
// Blocks
//

.tm-hero-height { min-height: 100vh; }
.tm-hero > * { padding-top: @theme-navbar-container-height; }

// Calculations
.tm-navbar-centered-true.tm-navbar-sticky .tm-hero > * { padding-top: @theme-navbar-centered-container-height; }

.uk-block { &:extend(.uk-block-large all); }

//
// Header calculations for 'uk-block-large'
//

// Offset for small view ports
.tm-navbar-sticky.tm-header-offset .tm-block-header + .uk-block { padding-top: (@theme-navbar-container-height-small + @theme-navbar-gutter-small) + @block-large-padding-vertical; }
.tm-navbar-sticky.tm-header-offset.tm-navbar-centered-true .tm-block-header + .uk-block { padding-top: (@theme-navbar-container-height-small + @theme-navbar-gutter-small) + @block-large-padding-vertical; }


// Offset for medium view ports
@media (min-width: @breakpoint-medium) {

    .tm-navbar-sticky.tm-header-offset .tm-block-header + .uk-block { padding-top: (@theme-navbar-container-height + @theme-navbar-gutter) + @block-large-padding-vertical-medium; }
    .tm-navbar-sticky.tm-header-offset.tm-navbar-centered-true .tm-block-header + .uk-block { padding-top: (@theme-navbar-centered-container-height + @theme-navbar-gutter) + @block-large-padding-vertical-medium; }

}

// Padding for large view ports
@media (min-width: @breakpoint-large) {

    .tm-navbar-sticky.tm-header-offset .tm-block-header + .uk-block { padding-top: (@theme-navbar-container-height + @theme-navbar-gutter-large) + @block-large-padding-vertical-large; }
    .tm-navbar-sticky.tm-header-offset.tm-navbar-centered-true .tm-block-header + .uk-block { padding-top: (@theme-navbar-centered-container-height + @theme-navbar-gutter-large) + @block-large-padding-vertical-large; }

}

//
// Navbar
//

// Sticky placeholder
.uk-sticky-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

// Navbar wrapper
.tm-navbar-sticky .tm-navbar-wrapper,
.tm-navbar-sticky .tm-navbar-wrapper-animate {
    border: @theme-navbar-gutter solid rgba(0,0,0,0);
    background-clip: content-box;
}

// Navbar wrapper with sticky animation
.tm-navbar-sticky .tm-navbar-wrapper-animate {

    -webkit-transition: border-width 0.35s ease-in-out;
    transition: border-width 0.35s ease-in-out;

    // When active
    &.uk-active { border-width: 0px; }

}

.tm-navbar .tm-navbar-container {
    box-sizing: border-box;
    position: relative;
    min-height: @theme-navbar-container-height;
}

.tm-navbar-left,
.tm-navbar-right {
    position: absolute;
    top: 0;
    bottom: 0;
}

.tm-navbar-left{ left: @utility-container-padding-horizontal; }
.tm-navbar-right { right: @utility-container-padding-horizontal; }

// Logo
// Putting the logo above the navbar
.tm-navbar-single .tm-navbar-left { z-index: (@global-z-index + 11); }

// Navbar modifier tm-navbar-centered for centered navbar template
.tm-navbar-centered {

    .tm-navbar-container {
        padding-top: @global-grid-gutter-small;
        padding-bottom: @global-grid-gutter-small;
        min-height: @theme-navbar-centered-container-height;
    }

    // Navbar items
    .uk-navbar-nav > li > a {
        height: @theme-navbar-nav-centered-height;
        line-height: @theme-navbar-nav-centered-height;
    }

    // Navbar contents
    .uk-navbar-content,
    .uk-navbar-brand,
    .uk-navbar-toggle { height: @theme-navbar-nav-centered-height; }

    // Dropdown
    .uk-dropdown-navbar { margin-top: @theme-navbar-centered-dropdown-navbar-margin; }


}

// Navbar gutter for large view ports
@media (min-width: @breakpoint-large) {

    // Navbar wrapper
    .tm-navbar-sticky .tm-navbar-wrapper,
    .tm-navbar-sticky .tm-navbar-wrapper-animate { border-width: @theme-navbar-gutter-large; }

}

// Navbar gutter for small view ports
@media (max-width: @breakpoint-small-max) {

    // Navbar wrapper
    .tm-navbar-sticky .tm-navbar-wrapper,
    .tm-navbar-sticky .tm-navbar-wrapper-animate { border-width: @theme-navbar-gutter-small; }

    .tm-navbar .tm-navbar-container { min-height: @theme-navbar-container-height-small; }
    .tm-navbar-centered .tm-navbar-container { min-height: 100%; }

}

// Header Social
.tm-navbar .tm-navbar-social {

    position: relative;

    // Button style
    .tm-navbar-button {

        width: @theme-navbar-button-width;
        height: @theme-navbar-button-height;
        line-height: 1;
        background: none;
        border: none;
        outline: 0;
        cursor: pointer;

        // Setting the icon
        &::before {
            font-family: @global-theme-icon-font-family;
            font-size: @theme-navbar-icon-size;
            color: @theme-navbar-icon-color;
            -webkit-transition: @global-transition;
            transition: @global-transition;
        }

        // Hover
        &:hover::before { color: @theme-navbar-icon-hover-color; }

        // Onclick
        &:focus::before,
        &:active::before { color: @theme-navbar-icon-click-color; }

    }

    // Icons
    .tm-navbar-social-button::before { content: @theme-navbar-icon; }

    // Dropdown style
    .tm-navbar-dropdown {
        width: @theme-navbar-dropdown-width;
        margin-left: 0;
        background-color: @theme-navbar-dropdown-background;
    }

}

//
// Footer
//

.tm-block-footer {
    box-sizing: border-box;
    padding-top: @theme-footer-padding-vertical;
    padding-bottom: @theme-footer-padding-vertical;
}

.tm-footer {
    position: relative;
    min-height: @theme-footer-height;
}

@media (min-width: @breakpoint-medium) {

    .tm-footer-left,
    .tm-footer-right {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .tm-footer-left{ left: 0; }
    .tm-footer-right { right: 0; }

}

// Footer on small view ports
@media (max-width: @breakpoint-small-max) {

    .tm-footer { display: block; }

    .tm-footer > div:not(:first-child) { margin-top: @global-grid-gutter; }

    .tm-footer > div {
        display: block;
        width: 100%;
        text-align: center;
    }

    .tm-footer > div > .uk-panel .uk-flex {
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }


}

// Footer Brand
.tm-footer .tm-brand {
    font-size: round(@navbar-brand-font-size / 1.5);
    color: @navbar-brand-color;
    line-height: @global-line-height;
    font-family: @navbar-brand-font-family;
    font-weight: @global-font-weight;
    text-transform: @navbar-brand-text-transform;
    letter-spacing: @navbar-brand-letter-spacing;
}

// When tm-brand is a link
.tm-footer a.tm-brand:hover {
    color: @navbar-brand-hover-color;
    text-decoration: none;
}

// Footer menu
.tm-footer .uk-subnav { margin-bottom: 0; }

// Footer Totop scroller (Warp Option)
.tm-footer .tm-totop-scroller {

    display: inline-block;
    width: @theme-footer-totop-size;
    height: @theme-footer-totop-size;
    line-height: @theme-footer-totop-size;
    text-align: center;
    text-decoration: none;

    // Icon
    &::before {
        content: "\e903";
        color: @theme-footer-totop-color;
        font-family: @global-theme-icon-font-family;
        font-size: 24px;
        -webkit-transition: @global-transition;
        transition: @global-transition;
    }

    // Hover
    &:hover::before { color: @theme-footer-totop-hover-color; }

    // Click
    &:focus::before,
    &:active::before { color: @theme-footer-totop-active-color; }

}

// Footer layout centered
.tm-footer-centered {

    padding-top: @theme-footer-padding-large-vertical;
    padding-bottom: @theme-footer-padding-large-vertical;

    // Adding more space to child elements
    .tm-footer > *:not(:first-child) { margin-top: @global-margin-small; }

    // Default uk-navbar-brand font size
    .tm-footer .tm-brand { font-size: @navbar-brand-font-size; }

}

// Footer fixed (Warp Option)
.tm-footer-fixed {

    // Setting the height as padding
    padding-bottom: @theme-footer-fixed-height;

    // Adding z-index to parent elements
    .tm-header-container,
    [class*='tm-top'],
    .tm-main,
    [class*='tm-bottom'] {
        position: relative;
        z-index: 1;
    }

    // Fixed position
    .tm-block-footer {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 0;
        height: @theme-footer-fixed-height;
    }

}


// Modifier
// ==========================================================================

// Reducing the margins of title and content of a widget item
.tm-margin-condensed {

    h3 { margin-bottom: 0; }
    h3 + .uk-margin { margin-top: 5px; }

}

//
// Avanti Grid
//

// Adding a border and gutter
.tm-grid-divider > *:not(:first-child):not(.uk-row-first) { border-left: @grid-divider-border-width solid @theme-grid-divider-border; }

// Border color when uk-contrast is active
.uk-contrast .tm-grid-divider > *:not(:first-child):not(.uk-row-first) { border-left-color: @contrast-base-hr-border; }

.tm-grid-divider:not(:empty) {
    margin-left: -@grid-gutter-horizontal;
    margin-right: -@grid-gutter-horizontal;
}

.tm-grid-divider > * {
    padding-left: @grid-gutter-horizontal;
    padding-right: @grid-gutter-horizontal;
}

// Panel modifier 'tm-panel-space-horizontal'
.tm-grid-avanti .tm-panel-space-horizontal { padding: 0 @panel-space-padding; }

// Badge
.tm-grid-avanti .uk-badge { margin-right: 5px; }
.tm-grid-avanti .tm-badge-muted {
    background: @theme-badge-muted-background;
    color: @theme-badge-muted-color;
}

// badge style when uk-contrast is active
.uk-contrast .tm-grid-avanti .tm-badge-muted {
    background: fade(@contrast-color, 10%);
    color: @contrast-color
}

//
// Gallery modifier 'tm-gallery-avanti'
//

// Overlay background
.tm-gallery-avanti .uk-overlay { background-color: @theme-overlay-background; }

// Overlay image opacity
.tm-gallery-avanti .uk-overlay > img {
    opacity: 0.3;
    -webkit-transition: @global-transition;
    transition: @global-transition;
    -webkit-transform: translate3d(0,0,0); // Safari flickering fix
}
.tm-gallery-avanti .uk-overlay:hover > img { opacity: 0.5; }

// Overlay background gradient
.tm-gallery-avanti div .uk-overlay .uk-overlay-background {
    background-color: rgba(0,0,0,0);
    background-image: -webkit-linear-gradient(@theme-overlay-gradient-direction-webkit, @theme-overlay-gradient-top, @theme-overlay-gradient-bottom);
    background-image: linear-gradient(@theme-overlay-gradient-direction, @theme-overlay-gradient-top, @theme-overlay-gradient-bottom);
    -webkit-transition: @global-transition;
    transition: @global-transition;
}

// Overlay color
.tm-gallery-avanti div .uk-overlay .uk-overlay-panel { color: fade(@overlay-panel-color, 60%); }
.tm-gallery-avanti div .uk-overlay .uk-overlay-panel .uk-panel-title { color: @overlay-panel-color; }

// Overlay content text style
.tm-gallery-avanti .uk-overlay-panel .uk-panel-title + * {
    margin-top: 10px;
    font-size: @base-h6-font-size;
    line-height: @base-h6-line-height;
    font-family: @base-alternate-heading-font-family;
    font-weight: @base-alternate-heading-font-weight;
    text-transform: @base-alternate-heading-text-transform;
    letter-spacing: @base-alternate-heading-letter-spacing;
}

// Overlay 2nd child
.tm-gallery-avanti div:nth-child(2n):not(:nth-child(6n+10)):not(:nth-child(4)) .uk-overlay {

    background-color: @theme-overlay-primary-background;

    // Overlay color
    .uk-overlay-panel { color: fade(@theme-overlay-primary-color, 60%); }
    .uk-overlay-panel .uk-panel-title { color: @theme-overlay-primary-color; }

    // Overlay background
    .uk-overlay-background {
        background-image: -webkit-linear-gradient(@theme-overlay-gradient-direction-webkit, @theme-overlay-primary-gradient-top, @theme-overlay-primary-gradient-bottom);
        background-image: linear-gradient(@theme-overlay-gradient-direction, @theme-overlay-primary-gradient-top, @theme-overlay-primary-gradient-bottom);
    }

}

// Overlay 3rd child
.tm-gallery-avanti div:nth-child(3n):not(:nth-child(6n)) .uk-overlay,
.tm-gallery-avanti div:nth-child(4) .uk-overlay,
.tm-gallery-avanti div:nth-child(6n+10) .uk-overlay {

    background-color: @theme-overlay-secondary-background;

    // Overlay color
    .uk-overlay-panel { color: fade(@theme-overlay-secondary-color, 60%); }
    .uk-overlay-panel .uk-panel-title { color: @theme-overlay-secondary-color; }

    // Overlay background
    .uk-overlay-background {
        background-image: -webkit-linear-gradient(@theme-overlay-gradient-direction-webkit, @theme-overlay-secondary-gradient-top, @theme-overlay-secondary-gradient-bottom);
        background-image: linear-gradient(@theme-overlay-gradient-direction, @theme-overlay-secondary-gradient-top, @theme-overlay-secondary-gradient-bottom);
    }

}


// Theme Additions
// ==========================================================================

//
// Modifier 'tm-background-blend-' CSS blend modes for backgrounds
// Note: does not work in any Internet Explorer release yet!
//

.tm-background-blend-multiply { background-blend-mode: multiply; }
.tm-background-blend-screen { background-blend-mode: screen; }
.tm-background-blend-overlay { background-blend-mode: overlay; }
.tm-background-blend-darken { background-blend-mode: darken; }
.tm-background-blend-lighten { background-blend-mode: lighten; }
.tm-background-blend-color-dodge { background-blend-mode: color-dodge; }
.tm-background-blend-color-burn { background-blend-mode: color-burn; }
.tm-background-blend-hard-light { background-blend-mode: hard-light; }
.tm-background-blend-soft-light { background-blend-mode: soft-light; }
.tm-background-blend-difference { background-blend-mode: difference; }
.tm-background-blend-exclusion { background-blend-mode: exclusion; }
.tm-background-blend-hue { background-blend-mode: hue; }
.tm-background-blend-saturation { background-blend-mode: saturation; }
.tm-background-blend-color { background-blend-mode: color; }
.tm-background-blend-luminosity { background-blend-mode: luminosity; }

//
// Blog Article
//

.tm-article-blog {

    // Image
    .tm-article-image { min-height: 360px; }

    // Blog image large (not left or right aligned)
    .tm-article-image-large { max-height: 420px; }

    // Spacing to each other
    + .tm-article-blog {
        margin-top: @global-margin-large;
        padding-top: @global-margin-large;
    }

    // Title
    .tm-article-title {
        margin-top: @global-margin-small;
        margin-bottom: @global-margin-large;
    }

    // Meta
    .tm-article-meta { margin-bottom: @global-margin-small; }

    // Icon for comment link
    .tm-button-comment::before { content: '\e076'; }

}

// Blog style on medium to large view ports
@media (min-width: @breakpoint-small-max) {

    // Content
    .tm-article-blog .tm-article-content { padding: @global-margin @global-margin-extra-large 0 @global-margin-extra-large; }

    // Spacing to each other
    .tm-article-blog + .tm-article-blog {
        margin-top: @global-margin-extra-large;
        padding-top: @global-margin-extra-large;
    }

}

// Adding a different margin to 'uk-pagination'
.uk-article + .uk-pagination { margin-top: @global-margin-large; }


// Style modifications
// ==========================================================================

.body-style ();

// Colorful Style
.body-style () when (@global-style = 'colorful') {

    // Modifying the color of avanti slideshow overlay
    .tm-header-container .tm-slideshow-avanti .uk-overlay-panel { color: @global-contrast-color; }

    // Adding a texture
    body,
    .uk-block-primary,
    .uk-block-secondary,
    .uk-block-muted,
    .uk-navbar,
    .uk-dropdown,
    .uk-panel-box-primary,
    .uk-panel-box-secondary,
    .uk-offcanvas-bar,
    .tm-navbar-dropdown {
        background-image: url('@{global-image-path}/block/texture_grain.png');
        background-repeat: repeat;
    }

}

// Urban Style
.body-style () when (@global-style = 'urban') {

    // uk-block-muted extending with component 'uk-contrast'
    .uk-block-muted:extend(.uk-contrast all){};
    .uk-block-muted { color: @global-contrast-color !important; }
    .uk-block-muted .uk-text-primary { color: @global-secondary-inverted-color !important; }

    // Adding a texture
    body,
    .uk-block,
    .uk-navbar,
    .uk-dropdown,
    .uk-panel-box,
    .uk-badge,
    .uk-offcanvas-bar,
    .tm-navbar-dropdown {
        background-image: url('@{global-image-path}/block/texture_grain.png');
        background-repeat: repeat;
    }

}

// Modern Style
.body-style () when (@global-style = 'modern') {

    // uk-block-primary
    .uk-block-primary.uk-contrast { color: @global-contrast-color; }

    // Footer tm-brand color
    .tm-footer .tm-brand { color: @global-contrast-color; }

}
